body {
    background-color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

.testee {
    width: 82%;
    float: right;
}

.body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

.bodyInfo {
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
}

.cabecalho h1 {
    float: left;
    width: 50%;
    font-size: 35px;
    color: rgb(63, 63, 63);
}

.search {
    float: right;
    width: 50%;
    text-align: right;
}

.search input {
    width: 25%;
    height: 20px;
    padding: 12px;
    border: 1px solid rgb(190, 190, 190);
    color:rgb(94, 94, 94);
    border-radius: 2px;
    font: inherit;
}

.search button {
    height: 100%;
    padding: 13px;
    border-radius: 2px;
    margin-right: 5px;
    color: white;
    border: 0px;
    background-color: rgb(83, 165, 90);
    font: inherit;
}

.custom-select select {
    display: inline-block;
    padding: 12px;
    margin: 0;
    font: inherit;
    outline:none;
    line-height: 1.2;
    background: rgb(248, 248, 248);
    color:rgb(94, 94, 94);
    border: 1px solid rgb(199, 199, 199);
}

.select-info {
    width: 105%;
}

.select-info select {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}


option {
    padding: 5px;
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

td {
    text-align: center;
}

table thead {
    background-color: rgb(42, 45, 53);
    color: rgb(230, 230, 230);
}

table th:first-child {
    border-radius:5px 0px 0px 0px;
}

table th:last-child {
    border-radius:0px 5px 0px 0px;
}

thead tr, td, th {
    padding: 18px;
}

table tbody tr:nth-child(even) {
    background-color: rgb(240, 240, 241);
}

table tbody tr:nth-child(odd) {
    background-color: rgb(252, 252, 253);
}

table tbody tr:hover {
    background-color: rgba(150, 150, 150, 0.034);
}

table tbody td {
    border-bottom: 1px solid rgb(223, 223, 223);
    color: rgb(78, 78, 78);
}

table tbody td:first-child {
    background-color: rgba(143, 143, 143, 0.116);
}

table tbody td:last-child {
    background-color: rgba(143, 143, 143, 0.116);
}

table a {
    color: rgb(78, 78, 78); 
    text-decoration: none;
    display: block;
    height: 100%;
    box-sizing:border-box;
}

.delete {
    color: rgb(199, 84, 84);
}

.form {
    width: 40%;
}

.form img {
    width: 59%;
    border: 2px solid rgba(0, 0, 0, 0.342);
    border-radius: 3px;
}

.form form {
    width: 100%;
    height: 100%;
}

.form input{
    width: 100%;
    height: 20px;
    padding: 12px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: rgb(243, 243, 243);
    color: rgb(44, 44, 44);
}

.form input:disabled{
    background-color: rgb(226, 226, 226);
}

.form select {
    background-color: rgb(243, 243, 243);
}

.form select:disabled {
    background-color: rgb(226, 226, 226);
}

.form input[type=datetime-local] {
    color: rgb(44, 44, 44);
}

.formHeader {
    display: flex;
    height: 80px;
    line-height: 80px;
    width: 100%;
    justify-content: space-between;
}

.formHeader h1 {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.formHeader a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font: inherit;
}

.formHeader a:hover {
    color: black;
}

.label {
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.btnSalvar {
    width: 100px;
    border: 0px;
    border-radius: 2px;
    background-color: rgb(83, 165, 90);
    padding: 14px;
    color: white;
    margin-right: 5px;
    font: inherit;
}

.btnLimpar {
    background-color: rgb(184, 72, 72);
}

.row {
    padding: 10px;
}

.otherInfos {
    width: 40%;
    padding-left: 10%;
}

.rightPet {
    width: 15%;
    text-align: right;
}

.leftPet {
    width: 85%;
    text-align: left;
    margin-left: 5%;
}

.petCard {
    width: 97%;
    background-color: rgb(40, 40, 51);
    border: 1px solid rgb(34, 34, 39);
    border-radius: 8px;
    margin-left: auto;    
    margin-right: auto;
    padding: 20px 15px 20px 10px;
    margin-bottom: 20px;
    color: rgb(233, 233, 233);
    display: flex;
    height: auto;

}

.petCard:nth-child(odd) {
    background-color: rgb(53, 53, 68);
}

.petCard img {
    height: 75px;
    width: 75px;
    border-radius: 10px 2px 10px 2px;
}

.petCard a {
    color: white;
    text-decoration: none;
}

.petCard h1 {
    padding: 0;
    margin: 0 0 6px 0;
    color: rgb(221, 221, 221);
}


.shadow {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);
}

.right {
    width: 35%;
    text-align: right;
}


.infoAdd {
    float: right;
}

.infoAdd button {
    border: 0px;
    border-radius: 2px;
    background-color: rgb(83, 165, 90);
    padding: 12px;
    color: white;
    width: 50px;
    font-weight: bolder;
}

label.custom-select {
    position: relative;
    display: inline-block;

}

.otherInfos span {
    margin-left: 4px;
}

.cabecalhoRegistro {
    background-color: rgb(52, 63, 63);
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 0px;
    border-radius: 3px;
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display:  none;
    justify-content: space-between;
}

.cabecalhoRegistro input {
    padding: 7px;
    border: 0px;
    font: inherit;
    border-radius: 2px;
    width: 13%;
}

.cabecalhoRegistro #data {
    width: 16%;
}

.cabecalhoRegistro form {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.form-validation {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.btnCadastro {
    background-color: rgb(83, 165, 90);
    color: white;
    border: 0px;
    border-radius: 2px;
    padding: 12px;
}

.cancelar {
    background-color: rgb(184, 72, 72);
}

.bold {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.200); 
}

.dashboard-card {
    background-color: white;
    display: flex;
    width: 25%;
    margin: 8px;
    height: 140px;
    line-height: 140px;
}

.card-icon {
    width: 20%;
    height: 100%;
    text-align: center;
}

.card-icon i {
    background-color: rgba(0, 0, 0, 0.192);
    padding: 20%;
    border-radius: 50px;
    color: white;
}

.dashboard-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-text {
    width: 80%;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: rgb(51, 51, 51);
}

.card-number {
    font-weight: bold;
    font-size: 24px;
}

.dashboard {
    padding: 0px;
    margin-top: 35px;
}

.cyan {
    background-color: rgb(20, 134, 134);
}

.purple {
    background-color: rgb(101, 29, 122);
}

.green {
    background-color: rgb(41, 116, 39);
}

.yellow {
    background-color: rgb(228, 186, 49);
}

.clienteConsulta {
    width: 100%;
    background-color: red;
}