html {
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    padding: 12px;
    width: 45%;
    border: 0px;
    outline: none;
    font: inherit;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.082);
    width: 480px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
    margin-top: 150px;
}

.row {
    margin-top: 8px;
    margin-bottom: 8px;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    font-size: 42px;
    margin: 10px;
    padding: 0;
}

.bg {
    height: 100%;
    background: rgb(41,38,77);
    background: linear-gradient(0deg, rgba(41,38,77,1) 0%, rgba(62,68,126,1) 100%);
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

.label {
    margin-bottom: 6px;
}

button {
    margin-top: 16px;
    width: 50%;
    padding: 16px;
    background-color: rgba(24, 37, 80, 0.404);
    border: 0px;
    border-radius: 4px;
    outline: none;
    color: rgb(184, 184, 184);
}

button:hover {
    background-color: rgba(47, 61, 107, 0.404); 
}

.erro-login {
    background-color: rgba(211, 62, 62, 0.863);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}